stages:
  - lint
  - test
  - release
  - publish

image: node

before_script:
  - npm install

cache:
  paths:
    - node_modules/

lint:
  stage: lint
  script:
    - npm run lint

test:node:latest:
  stage: test
  image: node:latest
  script:
    - npm test

# test:node:10:
#   stage: test
#   script:
#     - npm test

# test:node:8:
#   stage: test
#   image: node:8
#   script:
#     - npm test

release:
  stage: release
  script:
    - npm run release
  only:
    - master

publish:
  stage: publish
  script:
    - npm publish
  only:
    - tags
