stages:
  - test
  - release

image: node

before_script:
  - npm install

cache:
  paths:
    - node_modules/

lint:
  stage: test
  script:
    - npm run lint

test:node:latest:
  stage: test
  image: node:latest
  script:
    - npm test

test:node:10:
  stage: test
  script:
    - npm test

test:node:8:
  stage: test
  image: node:8
  script:
    - npm test

release:
  stage: release
  script:
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}'>.npmrc
    - npm run release
